// app colors
@import './Colors.less';
// custom app font
@import './Font.less';
// custom scrollbar
@import './Scrollbar.less';
// Flex Style
@import './FlexRules.less';
// Global spacing rules 
@import './Spacing';
// App Theme
@import './Themes.less';
// import styles component
@import './components.less';

* {
    padding: 0;
    margin: 0;
}


#__next {
    background-color: #000;
    display: flex;
    height: 100vh;
    width: 100vw;
}


.nz-position-relative {
    position: relative;
}

.nz-z-index-5 {
    z-index: 5;
}

.nz-z-index-10 {
    z-index: 10;
}

.nz-z-index-20 {
    z-index: 20;
}

.nz-hide {
    display: none;
}

.nz-spin {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

