.nz-dark-background-1 { background: #18181b; }
.nz-dark-background-2 { background: #1f1f23; }
.nz-dark-background-3 { background: #0e0e10; }
.nz-dark-color-title { & h1, h2, h3, h4, .title { color: #39ff14 !important; }} 
.nz-dark-color-text { & p, span, a, div, .text { color: #FFFFFF !important; }} 
.nz-light-background-1 { background: #FAF8FF; }
.nz-light-background-2 { background: #E3E0F3; }
.nz-light-background-3 { background: #8685EF; }
.nz-light-color-title { & h1, h2, h3, h4, .title { color: #1f1f23 !important; }} 
.nz-light-color-text { & p, span, a, div, .text { color: #ffffff !important; }} 
